.close__modal {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background: var(--color-light);
  padding: 15px;
  position: absolute;
  right: 20px;
  top: 20px;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.08);
  }

  img {
    width: 90%;
  }
}

.subscribe__modal {
  padding: calc(var(--gutter) * 2);
}

.modal {
  h3 {
    color: var(--color-light);
    text-transform: uppercase;
    font-size: 22px;
  }

  p {
    margin-bottom: var(--gutter);
    color: var(--color-dark);
  }
}
