/*
 * MSCC - JOBS IN TECH
 * Custom Variables Declaration 
*/

:root {
  // Spacing
  --gutter: 20px;

  //////////////////////////////
  /// Colors
  /////////////////////////////
  --color-dark: #393939;
  --color-light: #838383;
  --color-gray-light: #e5e5e5;
  --color-red: #e30101;
  --color-blue: 1, 152, 192; //#0198c0;
  --color-yellow: #ffe401;
  --color-green: #308701;
  --color-white: #ffffff;
  --color-black: #1e1e1e;

  $color-dark: #393939;
  $color-light: #838383;
  $color-gray-light: #e5e5e5;
  $color-red: #e30101;
  $color-blue: #0198c0;
  $color-yellow: #ffe401;
  $color-green: #308701;
  $color-white: #ffffff;
  $color-black: #1e1e1e;

  //////////////////////////////
  /// Fonts
  /////////////////////////////
  --font-Roboto: "Roboto", sans-serif;
  --font-Poppins: "Poppins", sans-serif;
}

.theme-default {
  //////////////////////////////
  /// SiteWide
  /////////////////////////////
  --site-background-color: #f4f4f6;

  //////////////////////////////
  /// Header
  /////////////////////////////

  --header-background-color: var(--color-white);
  --header-box-shadow-color: rgba(31, 32, 65, 0.05);
  --header-text-color: var(--color-light);
  --header-text-color-dark: var(--color-dark);
  --color-logo: var(--color-dark);

  //////////////////////////////
  /// Buttons
  /////////////////////////////

  // Buttons Base
  --button-text-color: var(--color-dark);
  --button-background-color: transparent;
  --button-box-shadow-color: rgba(255, 228, 0, 0.7);
  --button-box-shadow-color-hover: rgba(255, 228, 0, 0.9);

  // Buttons Primary
  --button-background-color-primary: var(--color-yellow);

  // Buttons Secondary
  --button-background-color-secondary: var(--color-blue);
  --button-text-color-secondary: var(--color-white);
  --button-box-shadow-color-secondary: rgba(1, 152, 192, 0.58);
  --button-box-shadow-color-secondary-hover: rgba(1, 152, 192, 0.9);

  // Buttons Accept
  --button-background-color-accept: var(--color-green);
  --button-text-color-accept: var(--color-white);
  --button-box-shadow-color-accept: rgba(48, 135, 1, 0.58);
  --button-box-shadow-color-accept-hover: rgba(48, 135, 1, 0.9);

  --button-background-color-disabled: var(--color-light);
  --button-text-color-disabled: var(--color-white);
  --button-box-shadow-color-disabled: rgba(131, 131, 131, 0.58);
  --button-box-shadow-color-disabled-hover: rgba(131, 131, 131, 0.9);

  // Buttons outline
  --button-background-color-outline: transparent;
  --button-text-color-outline: var(--color-blue);
  --button-border-color-outline: var(--color-blue);
  --button-box-shadow-color-outline: rgba(1, 152, 192, 0.58);
  --button-box-shadow-color-outline-hover: rgba(1, 152, 192, 0.9);

  //////////////////////////////
  /// Response messages color
  /////////////////////////////

  --response-background-success: rgba(48, 135, 1, 0.2);
  --response-background-success-icon: var(--color-green);
  --response-background-success-icon-shadow: rgba(48, 135, 1, 0.58);

  --response-background-error: rgba(227, 1, 1, 0.2);
  --response-background-error-icon: var(--color-red);
  --response-background-error-icon-shadow: rgba(227, 1, 1, 0.58);

  //////////////////////////////
  /// Blocks
  /////////////////////////////
  --block-background-color: var(--color-white);
  --block-text-color: var(--color-dark);

  //////////////////////////////
  /// Social
  /////////////////////////////

  --social-icon-background-color: var(--color-blue);

  //////////////////////////////
  /// Company
  /////////////////////////////

  --company-background-color: var(--color-dark);

  //////////////////////////////
  /// Footer
  /////////////////////////////

  --footer-background-color: var(--color-black);
  --footer-border-color: rgba(var(--color-blue), 0.2);
  --footer-title-color: var(--color-white);
  --footer-subtitle-color: rgba(255, 255, 255, 0.5);
  --footer-text-color: var(--color-white);
  --footer-icons-color: var(--color-yellow);
  --footer-heart-color: #e60000;
}

.theme-dark {
  //////////////////////////////
  /// SiteWide
  /////////////////////////////
  --site-background-color: #282828;

  //////////////////////////////
  /// Header
  /////////////////////////////

  --header-background-color: var(--color-black);
  --header-box-shadow-color: rgba(31, 32, 65, 0.05);
  --header-text-color: var(--color-light);
  --header-text-color-dark: var(--color-white);
  --color-logo: var(--color-white);

  //////////////////////////////
  /// Buttons
  /////////////////////////////

  // Buttons Base
  --button-text-color: var(--color-dark);
  --button-background-color: transparent;
  --button-box-shadow-color: rgba(255, 228, 0, 0.7);
  --button-box-shadow-color-hover: rgba(255, 228, 0, 0.9);

  // Buttons Primary
  --button-background-color-primary: var(--color-yellow);

  // Buttons Secondary
  --button-background-color-secondary: var(--color-blue);
  --button-text-color-secondary: var(--color-white);
  --button-box-shadow-color-secondary: rgba(1, 152, 192, 0.58);
  --button-box-shadow-color-secondary-hover: rgba(1, 152, 192, 0.9);

  // Buttons outline
  --button-background-color-outline: transparent;
  --button-text-color-outline: var(--color-blue);
  --button-border-color-outline: var(--color-blue);
  --button-box-shadow-color-outline: rgba(1, 152, 192, 0.58);
  --button-box-shadow-color-outline-hover: rgba(1, 152, 192, 0.9);

  //////////////////////////////
  /// Blocks
  /////////////////////////////
  --block-background-color: var(--color-black);
  --block-text-color: var(--color-white);

  //////////////////////////////
  /// Social
  /////////////////////////////

  --social-icon-background-color: var(--color-blue);

  //////////////////////////////
  /// Footer
  /////////////////////////////

  --footer-background-color: var(--color-black);
  --footer-border-color: rgba(255, 255, 255, 0.2);
  --footer-title-color: var(--color-white);
  --footer-subtitle-color: rgba(255, 255, 255, 0.5);
  --footer-text-color: var(--color-white);
}
