/*
 * MSCC - JOBS IN TECH
 * Custom Variables Declaration 
*/

:root {
  // Spacing
  --gutter: 20px;

  // Colours
  --color-dark: #393939;
  --color-light: #838383;
  --color-gray-light: #e5e5e5;
  --color-red: #e30101;
  --color-blue: #0198c0;
  --color-yellow: #ffe401;
  --color-green: #308701;
  --color-white: #ffffff;
  --color-bg: #f4f4f6;
  --color-black: #1e1e1e;

  //fonts
  --font-Roboto: "Roboto", sans-serif;
  --font-Poppins: "Poppins", sans-serif;
}
